  <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">My Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Контакты</a>
          </li>
            {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" >Выйти </a></a>
          </li>
            {% else %}
          <li class="nav-item"></li>
          <a class="nav-link" href="{% url 'login' %}?next={{request.path}}" >Войти </a></a>
            {% endif %}

          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
                <p align="middle" style="color: white"> Вы вошли как {{user.username}}</p>
            {% else %}
                <p style="color: white">Вы вошли как гость</p>
            {% endif %}
          <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
      <div class style="margin-top:60px">
          {% if turn_on_block%}
              <div class="col-md-4">
                    <div class="card mb-4" >
                        <p> <strong> <em>Это информация доступна для просмотра </em> </strong></p>
                    <div/>
              <div/>
          {%endif%}
      </div>

  </header>