{% extends 'base.html' %}
{% load custom_tags %}
{%block header%}
    {% include "header.html" with turn_on_block=True %}

{% endblock %}

{% block content %}
        <h1 > Market Place project </h1>

        <ul>
            <li>
                <a  href="/">Главная</a>
            </li>
            <li>
                <a  href="/about/">О нас</a>
            </li>
            <li>
                <a  href="/contact/">Контакты</a>
            </li>
        </ul>

        <div class="alert alert-secondary">
            <div class="row">
                    <div class="col-md-4">{{"Этот текст должен читаться задом наперед"|revers_string}}</div>
                    <div class="col-md-4" align="middle">{%now 'jS F Y H:i'%}</div>
            </div>
        </div>


{% endblock content %}
