{% extends 'base.html' %}

{% block content %}
        <h1 > Market Place project </h1>

        <ul>
            <li>
                <a  href="/">Главная</a>
            </li>
            <li>
                <a  href="/about/">О нас</a>
            </li>
            <li>
                <a  href="/contact/">Контакты</a>
            </li>
        </ul>


        {% if turn_on_block%}
          <div class="col-md-4">
                <div class="card mb-4" >
                    <p> <strong> <em>Это информация доступна для просмотра</p>
                <div/>
          <div/>

        {% else %}
          <div class="col-md-4">
                <div class="card mb-4" >
                    <p> <strong> <em>Мы скрыли от вас эту информацию </p>
                <div/>
          <div/>
        {%endif%}



{% endblock content %}